.requestApprovalPage {
    text-align: center;
    padding: 20px;
    min-height: calc(100vh - 80px);
    display: grid;
    place-items: center;
}

.requestButton,
.discoverButton {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.requestButton:hover,
.discoverButton:hover {
    background-color: #0056b3;
}

.requestButton:focus,
.discoverButton:focus {
    outline: none;
}

.discoverButton {
    background-color: #0056b3;
}

.discoverButton:hover {
    background-color: #004997;
}