.card {
    padding: 1rem 1.5rem;
    background: var(--secondary-bg-color);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    text-align: center;
    box-shadow: rgb(0 0 0 / 50%) 0px 3px 8px;
    overflow: hidden;
    max-width: 500px;
    text-align: left;
    cursor: pointer;
    display: flex;
    gap: 1rem;
}

.card:hover {
    box-shadow: rgb(0 0 0 / 50%) 0px 20px 30px -10px;
}

.card img {
    object-fit: contain;
}

.cardLeft {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: flex-start;
}

.right {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.right div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.right span {
    font-size: 0.9rem;
    margin-top: 3px;
}

.right img {
    width: 16px;
}

.title {
    width: 100%;
    font-size: 1.3rem;

}

.detailsContainer {
    display: flex;
    width: 100%;
    gap: 1.5rem;
}

.avatarContainer {
    position: relative;
    width: 80px;
    height: 80px;

}

.avatarContainer img {
    aspect-ratio: 1/1;
    width: 46px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    border: 3px solid white !important;
}

.avatarContainer img:nth-child(1) {
    box-shadow: var(--success) 0px 0px 0px 3px;
}

.avatarContainer img:nth-child(2) {
    box-shadow: var(--primary-button-bg) 0px 0px 0px 3px;
    top: 22px;
    left: 22px;
}

.names {
    display: flex;
    gap: 5px;
    columns: #d8d8d8;
}

.titleMenuWrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.menu {
    position: relative;
    padding: 0;
    text-align: center;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.kababMenuIcon {
    filter: invert();
    width: 20px !important;
}

.modal {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
}