.mainContainer {
    border-top: 1px solid #ffffff80;

}

.backBtn {
    cursor: pointer;
    padding: 0.3rem;
    outline: none;
    border: none;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-left: 1rem;
}

.backBtn img {
    transform: rotate(180deg);

}

.backBtn span {
    position: relative;
    font-size: 1.3rem;
    display: inline;
    line-height: 2rem;
    white-space: nowrap;
}

.backBtn span::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 60%;
    height: 4px;
    border-radius: 1px;
    background-color: var(--primary-button-bg);
}

.clientWrapper {
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #333;
    box-shadow: 0px 0px 0px 0px #00000000;
    transform: box-shadow 0.3s ease;
}

.clientWrapper:hover {
    box-shadow: 1px 0px 10px 1px #000000a0;
}

.avatar {
    aspect-ratio: 1 / 1;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--primary-button-bg);
}

.clientsContainer {
    --gap: 1rem;
    background-color: var(--secondary-bg-color);
    padding: 1.5rem;
    min-height: calc(100vh - 140px);
    width: calc(100vw - var(--gap) * 2);
    margin-left: calc(var(--gap) - 5px);
    border-radius: var(--gap);
    margin-bottom: 1rem;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.roomTitle {
    font-size: 1.4rem;
    font-weight: 700;
}

.handIcons,
.actions {
    font-size: 1.3rem;
}

.topRight,
.btnWithIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.btn {
    border: none;
    background-color: #ffffff15;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.1rem;
    white-space: nowrap;
}

.btn:hover {
    background-color: #ffffff30;
}

.clientsList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.clientWrapper h4:not(.owner>*) {
    font-weight: 500;
}

.avatarWrapper {
    position: relative;
    cursor: pointer;
}

.removeUserMask {
    content: "";
    text-shadow: 0 0 1px 1 black;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90%;
    height: 85%;
    background-color: #000000cc;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.avatarWrapper:hover .removeUserMask {
    display: flex;
}


.muteUnmuteImage {
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: -5px;
    right: -8px;
    background-color: transparent;
    width: 32px;
    filter: drop-shadow(-2px -2px 9px #0BA);
}

.owner {
    order: -1;

}

.owner > * {
    /* font-style: bold; */
    font-weight: 700;
}




.owner .avatar {
    border: 2px solid var(--success);
}

/* .muted {
    border: 2px solid yellow;
} */

/*  */
/* Existing styles omitted for brevity */

.optionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 4px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-bg-color);
    padding: 5px;
    border-radius: 999px;
    box-shadow: 0 4px 8px var(--primary-bg-color);
    z-index: 100;
}

.optionBtn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.optionBtn img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.optionBtn:hover {
    background: var(--secondary-bg-color);
}

/* Adjust existing styles as needed */

/*  */
/* Room.module.css */

.requestsContainer {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    padding: 5px;
    background-color: var(--primary-bg-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.requestInnerContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 90vh;
}


.newRequest::before,
.newRequest::after {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFC107;
}

.newRequest::after {
    animation: pulse 1.5s ease-in-out infinite;
    background-color: #FFC10730;

}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }

    50% {
        transform: scale(2.6);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.7;
    }
}


.requestsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.requestsHeader h3 {
    font-size: 18px;
    color: #333;
}

.menuBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: auto;
}


.requestItem {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary-bg-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.avatarWrapperRequest {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.requestDetails {
    flex: 1;
}

.requestDetails h4 {
    font-size: 16px;
    color: whitesmoke;
    margin-bottom: 5px;
}

.requestActions {
    margin-top: 5px;
}

.acceptBtn,
.declineBtn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.acceptBtn {
    background-color: #4caf50;
    color: #fff;
}

.acceptBtn:hover {
    background-color: #3f9130;
}

.declineBtn {
    background-color: #f44336;
    color: #fff;
    margin-left: 10px;
}

.declineBtn:hover {
    background-color: #da3c16;
}

@media screen and (max-width: 768px) {

    .roomTitle {
        font-size: 1.3rem;
    }
}