footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg-color);
    padding: 20px;
}

footer a {
    margin: 0 10px;
}

footer img {
    width: 30px;
    height: 30px;
}
