.cardContentWrapper {
    composes: cardContentWrapper from "../Email/Email.module.css";
}

.inputBox {
    composes: inputBox from "../Email/Email.module.css";

}

.input {
    composes: input from "../Email/Email.module.css";
}

.input::placeholder {
    color: var(--input-placeholder-text-color);
}

.termsText {
    composes: termsText from "../Email/Email.module.css";
}