.cardContentWrapper {
    composes: cardContentWrapper from "../Email/Email.module.css";
}

.inputBox {
    composes: inputBox from "../Email/Email.module.css";

}

.input {
    composes: input from "../Email/Email.module.css";
}


.termsText {
    composes: termsText from "../Email/Email.module.css";
}