nav {
    width: 100vw;
    height: 70px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1.5rem;
}

.logoWrapper {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.emoji {
    height: 36px;
}

.profileContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.avatar {
    height: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 999px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
}

.menu {
    position: absolute;
    top: 45px;
    right: 20px;
    border-radius: 6px;
    box-shadow: #585858 1px 1px 5px 1px;
    overflow: hidden;
    width: max-content;
    z-index: 999;
    background-color: #0077ff;
    background-color: var(--secondary-bg-color);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.menu button {
    border-radius: 10px;
    background-color: var(--primary-bg-color);
}

.menu button:hover {
    background: var(--error);
}

.logoutBtn {
    width: 100%;
    padding: 0.8rem 1.2rem;
    border: none;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    background-color: var(--primary-bg-color);
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    font-size: 0.9rem;
}


.logoutBtn img {
    height: 20px;
    margin-right: 10px;
    filter: invert(1);
}


.profileWrapper {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.profileWrapper img {
    width: 46px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .emoji {
        display: none;
    }

}